{% extends 'base.html' %}
{% load static %}
{% load page_tag %}
{% load demo_vacancy %}

{% block sidebar_none %}
{% if request.user_agent.is_mobile or request.user.is_authenticated  %}
{% include 'include/sidebar.html' %}
{% else %}
{% endif %}
{% endblock sidebar_none %}

{% block header_none %}
{% if request.user_agent.is_mobile %}
{% include 'include/header.html' %}
{% else %}
{% if  not request.user.is_authenticated %}
<ul class="nav justify-content-center">

    <li class="nav-item d-flex align-items-center mr-2 mr-md-5 mt-3 cursor-pointer">
        <a class="nav-link  "  data-toggle="modal" data-target="#loginModal">
            Войти <i class="link-icon text-primary" data-feather="log-in"></i> </a>
    </li>
    <a class="navbar-brand noble-ui-logo  mt-3"  href="{% url 'mainUrl' %}">
        <img src="{% static 'new_assets/img/logo_new.png' %}" class="img-lg rounded-circle" alt="image">
    </a>
    <li class="nav-item  d-flex align-items-center ml-2 ml-md-5 mt-3 cursor-pointer">
        <a class="nav-link " data-toggle="modal" data-target="#signUpModal" >  Регистрация <i class="link-icon text-primary" data-feather="user-plus"></i></a>
    </li>
</ul>
{% endif %}
{% endif %}
{% endblock header_none %}


{% block css_link %}
<link rel="stylesheet" href="{% static 'assets/vendors/owl.carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/owl.carousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/animate.css/animate.min.css' %}">
{% endblock css_link %}
{% block main_style  %}
{% if not request.user.is_authenticated  %}
<style>
    .main-wrapper .page-wrapper {
        width: 100%!important;
        margin-left: 0!important;
    }
</style>
{% endif  %}


{% endblock main_style %}


{% block page_content %}
{% include 'include/content_main.html' %}

<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8">
        <div class="col-12">
            <div class="row pl-2 pr-2  ml-md-5 mt-3 mb-5 justify-content-center">

                    <h2 class="text-left">Вакансии</h2>

                </div>
            <div class="row ">
                {% get_demo_vacancy as vacancy_list %}
                {% for vacancy in vacancy_list %}
                {% if forloop.counter|divisibleby:"5" %}
                {% if general_settings.show_5 %}
                <div class="col-12 col-md-4 p-0">
                    <div class="card advertising-card ">
                        {% if general_settings.advertising_5 %}
                        {{general_settings.advertising_5|safe }}
                        {% else %}
                        <div class="card-body  mr-2 mt-2">
                            <h5 class="card-title text-center">Разместим банер</h5>
                            <p class="card-text  text-center">Реклама, Реклама, Реклама, и ещё раз реклама.</p>
                            <div class="row justify-content-center mt-3"><a href="#" class="btn btn-primary "  >Перейти</a></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% include 'app_profile/include/card_vacancy_or_questionnaire.html' with demo=True %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% block javascript_custom %}
<script src="{% static 'assets/vendors/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/carousel.js' %}"></script>
{% endblock javascript_custom %}
