{% load static %}
{% load i18n %}
<div class="chat-footer d-flex">

                      <div class="search-form flex-grow mr-2">
                        <div class="input-group">
                          <input type="text" class="form-control rounded-pill" id="message-input" placeholder="Напишите сообщение ...">
                        </div>
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary btn-icon rounded-circle" id="btn-send-message">
                          <i data-feather="send"></i>
                        </button>
                      </div>
                    </div>

