

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Выйти из профиля</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  method="POST" action="{% url 'logout' %}"  >
                {% csrf_token %}
                <div class="modal-body">
                    <p class="text-center mb-3">Вы действительно хотите выйти?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary col-12 col-md-auto" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary  col-12 col-md-auto">Да, выйти</button>
                </div>

            </form>


        </div>
    </div>
</div>