<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="cmxform" id="signUpModalForm"  action="" method="POST" onsubmit="return checkCheckBoxes(this);" novalidate>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Соискатель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Работодатель</a>
                        </li>

                    </ul>
                    <fieldset>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label>Наименование организации</label>
                                    <input class="form-control mb-4 mb-md-0"  name="signUpNameCompany"  type="text" >
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Номер телефона</label>
                            <input class="form-control mb-4 mb-md-0 phone-type" type="text" name="signUpNumberPhone" data-rule-required="true"
                                   data-inputmask-alias="+7(999)999-9999"/>
                        </div>
                        <div class="form-group">
                            <label>Электронная почта</label>
                            <input class="form-control mb-4 mb-md-0" name="signUpEmail" data-inputmask="'alias': 'email'"/>
                        </div>
                        <div class="form-group">
                            <label for="signUpPassword">Пароль</label>
                            <input id="signUpPassword" class="form-control" name="signUpPassword" type="password">
                        </div>
                        <div class="form-group">
                            <label for="signUpConfirmPassword">Пароль ещё раз</label>
                            <input id="signUpConfirmPassword"  class="form-control" name="signUpConfirmPassword" type="password">
                        </div>
                        <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label" >
                                <input type="checkbox" id="signUpCheckBox" name="signUpCheckBox" class="form-check-input" >
                                Согласен с условиями регистрации
                            </label>
                        </div>

                    </fieldset>
                    <div class="mt-3 row justify-content-center ">
                        <button disabled  id="signUpModalFormButton" type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Зарегистрироваться</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть окно</button>
                    </div>
                    <a  data-dismiss="modal" data-toggle="modal" data-target="#loginModal"  class="d-block mt-3 text-muted" >Уже зарегистрированы? <u class="text-primary cursor-pointer">Войти</u></a>
                </form>
            </div>
        </div>
    </div>
</div>