{% extends "email_sender/email/base.html" %}
{% load i18n %}

{% block title%} Новый отклик {% endblock title%}

{% block pre_header %} Информирование об активности на сервисе{% endblock pre_header %}

{% block info_1%} Вам оставлен отклик на вакансию размещённую на сайте vahtoweek.ru.
Перейдите на сервис для обсуждения деталей. {% endblock info_1 %}
{% block buttom_name %} Перейти {% endblock buttom_name %}
{% block buttom_href %} https://vahtoweek.ru/dialogs/{{url_chat}} {% endblock buttom_href %}