{% extends 'app_account/profile.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block active_settings_url_1 %}{% endblock active_settings_url_1 %}
{% block active_settings_url_2 %}active{% endblock active_settings_url_2 %}


{% block css_link %}
<style>
    #hint_id_new_password1{
        display: none!important;
    }
</style>
	{% endblock css_link %}
{% block profile_settings %}
<h6 class="card-title">Сменить пароль</h6>
						<form class="forms-sample"  method="POST" action="{% url 'change_password' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>
							{% csrf_token %}
							{{ form|crispy }}
							<input class="btn btn-primary" type="submit" value="Сменить">
						</form>
{% endblock profile_settings %}