<div class="modal fade" id="deleteQuestionnaireModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuestionnaireModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteQuestionnaireModalLabel">Удалить анкету</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="cmxform" action="{{questionnaire.get_delete_url}}" method="POST" autocapitalize="off">
                    <fieldset>
                        {% csrf_token %}
                            <input type="hidden" name="ajax-questionnaire-id" value="{{questionnaire.id}}">
                        <p  class=" h6" >Вы хотите удалить анкету?</p>
                    </fieldset>

                    <div class="mt-3 ">
                        <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Да, всё верно</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть окно</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>