{% extends 'base.html' %}
{% load static %}
{% load i18n  %}
{% load crispy_forms_tags %}


{% block css_link %}
<link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}">
<style>
    .range-slider__range {
    width: 100% !important;
}
</style>
{% endblock css_link %}

{% block page_content %}



    {% if request.user_agent.is_mobile %}
<div class="modal fade" id="filterFormModal" tabindex="-1" role="dialog" aria-labelledby="filterFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterFormModalLabel">Фильтр</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample mt-2" action="{% block action_form_filter %}{% endblock action_form_filter %}" >
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-12 p-0 mr-0">
    {% else %}
<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-3">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Фильтр</p>
                <hr>
                <form class="forms-sample mt-2" action="{% block action_form_filter_2 %}{% endblock action_form_filter_2 %}" >
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">

    {% endif %}


<div class="col-12">
        <div class="card  ">
            <div class="card-body">
                <h4 class="page-title">
                    {% block list_title %}
                    {% endblock list_title %}

                </h4>
            </div>
        </div>
        </div>
        <div class="col-12">
            <div class="row">



                {% block list_card %}
                {% endblock list_card %}



            </div>
            {% include 'include/paginator.html' %}
        </div>
    </div>
</div>


{% endblock page_content %}

{% block javascript_plugin %}
<script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>
{% endblock javascript_plugin %}
{% block javascript_custom %}
<script>

function rangeInputFilter(rangeId) {
   var rng=document.getElementById(rangeId); //rng - это ползунок
   var i1=document.getElementById(rangeId + '_range_value'); // i1 - input
  i1.innerHTML=rng.value;
}
</script>
{% endblock javascript_custom %}
