{% extends 'app_account/profile.html' %}
{% load crispy_forms_tags %}


{% block active_settings_url_1 %}{% endblock active_settings_url_1 %}
{% if vacancy.pk %}
{% else%}
{% block active_settings_url_6 %}active{% endblock active_settings_url_6 %}
{% endif %}


{% block profile_settings %}

<h6 class="h5">{% if vacancy.pk %} Редактировать  вакансию № {{vacancy.pk}} {% else%} Добавить вакансию {% endif %}</h6>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger mt-1" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}

<form class="forms-sample mt-2"  method="POST" {% if vacancy.pk %} Редактировать  анкету № action="{% url 'vacancy_edit' vacancy.pk %}" {% else%} action="{% url 'vacancy_create' %}"{% endif %}  id="CreateVacancyForm" novalidate>
    {% crispy form %}
</form>
{% endblock profile_settings %}