{% extends 'app_account/profile.html' %}
{% load static %}

{% block active_settings_url_1 %}{% endblock active_settings_url_1 %}
{% block active_settings_url_3 %}active{% endblock active_settings_url_3 %}

{% block css_link_profile %}
<link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
{% endblock css_link_profile %}



{% block profile_settings %}
<div class="row">
					<div class=" col-12 col-md-12 ">

                <h6 class="card-title">Мои анкеты</h6>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger mt-1" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                <div class="table-responsive">
                  <table id="dataTableMyQuestionnaire" class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Профессия</th>
                        <th>Дата<br> размещения</th>
                        <th>Статус</th>
                        <th>Просмотры</th>
                        <th>Предложения</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for questionnaire in questionnaire_list %}
                    <tr>
                        <td><a href="{{questionnaire.get_absolute_url}}">{{questionnaire.pk}}</a></td>
                        <td>{{questionnaire.profession|default_if_none:"Не указана"}}</td>
                        <td>{{questionnaire.public_date|date:"d/m/Y"}}</td>
                        <td>{{questionnaire.get_status_display}}</td>
                        <td>{{questionnaire.count_see.count}}</td>
                        <td>{{questionnaire.count_see.count}}</td>

                      </tr>
                    {% endfor %}



                    </tbody>
                  </table>
                </div>

					</div>
				</div>
{% endblock profile_settings %}






{% block javascript_plugin_profile %}
<script src="{% static 'assets/vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
{% endblock javascript_plugin_profile %}

{% block javascript_custom_profile %}
<script src="{% static 'new_assets/js/data-table.js' %}"></script>
{% endblock javascript_custom_profile %}
