<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HR-Site</title>
	<!-- core:css -->
	<link rel="stylesheet" href="{% static 'assets/vendors/core/core.css' %}">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
	<link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css' %}">
	<!-- End layout styles -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />

	<style>
		.full-nav {
			width: 100%;
			left: 0;
		}
	</style>

</head>
<body>
<div class="main-wrapper ">
	<div class="page-wrapper   full-page">
		<!-- header -->
		{% include 'include/header.html' %}
		<!-- end header -->
		<div class="page-content">
			<!-- Modal -->
			{% include 'app_account/include/login_modal.html' %}
			{% include 'app_account/include/signup_modal.html' %}
			{% include 'app_account/include/forgot_password_modal.html' %}
			<!-- End modal -->
		</div>
		<!-- footer -->
		{% include 'include/footer.html' %}
		<!-- end footer -->
	</div>
</div>

<!-- core:js -->
<script src="{% static 'assets/vendors/core/core.js' %}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="{% static 'assets/vendors/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/vendors/inputmask/jquery.inputmask.min.js' %}"></script>
<!-- end plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
<!-- endinject -->
<!-- custom js for this page -->
<script src="{% static 'new_assets/js/form-validation.js' %}"></script>
<script src="{% static 'assets/js/inputmask.js' %}"></script>
<script type="text/javascript">
	// добавляем правило для валидации телефона
	jQuery.validator.addMethod("checkMaskPhone", function(value, element) {
		return /\+\d{1}\(\d{3}\)\d{3}-\d{4}/g.test(value);
	});
</script>

<script type="text/javascript" language="JavaScript">
const checkbox = document.querySelector('#signUpCheckBox');
const btn_submit = document.querySelector('#signUpModalFormButton');

checkbox.addEventListener('change', () => {
    if ( checkbox.checked ) {
        btn_submit.removeAttribute('disabled');
    } else {
        btn_submit.setAttribute('disabled', 'true');
    }
});
</script>
<!-- end custom js for this page -->
</body>
</html>