<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
    <p class="text-muted text-center text-md-left text-footer">Проект © 2022 <a href="{% url 'mainUrl' %}" target="_blank">HR</a>. Все права защищены</p>
    <p class="text-muted text-center text-md-left text-footer"><a href="{% url 'demo_vacancy_list' %}" >Витрина вакансий</a></p>
    <p class="text-muted text-center text-md-left mb-0 d-none d-md-block text-footer">Разработчик <a href="{% url 'mainUrl' %}" target="_blank">MWTech</a></p>
</footer>