{% load static %}
<nav class="navbar full-nav">
    <a href="#" class="sidebar-toggler">
        <i data-feather="menu"></i>
    </a>

    <div class="navbar-content">

        <a class="navbar-brand noble-ui-logo  mt-2"  href="{% url 'mainUrl' %}"><img src="{% static 'new_assets/img/logo.png' %}" width="30" height="30" class="d-inline-block align-top mr-2" alt=""> {% include 'include/name_site_word.html' %}</a>
        <ul class="navbar-nav ">
{% if request.user.is_authenticated %}
            {% if request.user_agent.is_mobile %}
            <li class="nav-item  ">
                <a class="btn nav-link " data-toggle="modal" data-target="#filterFormModal" > <i class="link-icon" data-feather="filter"></i> Фильтр</a>
            </li>
            {% endif %}


            {% if user.type == 'applicant' %}
            <li class="nav-item  ">
                <a class="btn nav-link " href="{% url 'all_vacancy_list' %}" > <i class="link-icon" data-feather="list"></i> Вакансии </a>
            </li>
            {% else %}
            <li class="nav-item  ">
                <a class="btn nav-link " href="{% url 'all_questionnaire_list' %}" > <i class="link-icon" data-feather="list"></i> Анкеты </a>
            </li>
            {% endif %}


            <li class="nav-item  ">
                <a class="btn nav-link " href="{% url 'profile' %}" > <i class="link-icon" data-feather="user"></i> Профиль </a>
            </li>
            <li class="nav-item  ">
                <a class="btn nav-link " data-dismiss="modal" data-toggle="modal" data-target="#logoutModal"> <i class="link-icon" data-feather="log-out"></i> Выйти</a>
            </li>
{% else %}
            <li class="nav-item  ">
                <a class="btn nav-link " data-toggle="modal" data-target="#loginModal" > <i class="link-icon" data-feather="log-in"></i> Войти</a>
            </li>
            <li class="nav-item  ">
                <a class="btn nav-link " data-toggle="modal" data-target="#signUpModal" > <i class="link-icon" data-feather="user-plus"></i> Зарегистрироваться </a>
            </li>
{% endif %}
        </ul>
    </div>
</nav>