<nav class="navbar full-nav">
    <a href="#" class="sidebar-toggler">
        <i data-feather="menu"></i>
    </a>
    <div class="navbar-content">
        <a class="navbar-brand noble-ui-logo  mt-2"  href="{% url 'mainUrl' %}">{% include 'include/name_site_word.html' %}</a>
        <ul class="navbar-nav ">

            <li class="nav-item  ">
                <a class="btn nav-link " data-toggle="modal" data-target="#loginModal" > <i class="link-icon" data-feather="log-in"></i> Войти</a>
            </li>


            <li class="nav-item  ">
                <a class="btn nav-link " data-toggle="modal" data-target="#signUpModal" > <i class="link-icon" data-feather="user-plus"></i> Зарегистрироваться </a>
            </li>
        </ul>
    </div>
</nav>